.App {
  text-align: center;
}
body {
  background-color: #e7f2f8;
}
button {
  background-color: #ffa384;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #74bdcb;
  padding: none;
}

.navLinks {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul {
  list-style: none;
}
p {
  background-color: #efe7bc;
  padding: 5rem;
}
.footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(92, 90, 90);
  color: white;
  list-style: none;
  text-align: center;
  text-decoration: none;
}
.footer li {
  color: white;
  text-decoration: none;
}

.contactForm {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
